.video-upload {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rec.rec-arrow:disabled {
  visibility: hidden;
}

.rec.rec-arrow {
  position: absolute;
  box-shadow: none;
}

.rec-arrow-right, .rec-arrow-left {
  position: absolute;
  color: white !important;
  z-index: 2;
}

.rec-arrow-right {
  right: 30px;
}
.rec-arrow-left {
  left: 30px;
}

.rec.rec-arrow:hover:enabled, .rec.rec-arrow:focus:enabled {
  background: #ffffff;
  opacity: 75%;
  color: black !important;
}
.rec-item-wrapper, .rec-slider-container {
  overflow-y: visible !important;
}

.rec-carousel-item{
  display: flex;
  align-items: center;
  justify-content: center;
}
